﻿@{
    ViewData["Title"] = "Ship";
    string setid = "0";
    if (Url.ActionContext.RouteData.Values["ship"] != null)
    {
        setid = Url.ActionContext.RouteData.Values["ship"].ToString();
    }
}
<div class="container-2">
    <div class="row mbc-5 align-items-center">
        <div class="col-lg-6 order-1 order-lg-0">
            <h1 class="font-size-55 fw-bold d-inline-block align-middle mb-0 mrc-3">
                All vessels
            </h1>
            <div class="select-2-container d-sm-inline-block align-middle">
                <select class="select-2" name="select-vessel" data-select2-placeholder="Or select specific vessel">
                    <option value="0">All Ships</option>
                    @foreach (var ship in ViewData["ShipList"] as IList<ShipList>)
                    {
                        if (setid == ship.id)
                        {
                            <option value="@ship.id" selected>@ship.name</option>
                        }
                        else{
                            <option value="@ship.id">@ship.name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="col-lg-6 mb-5 mb-lg-0">
            <nav aria-label="breadcrumb" class="breadcrumbsc-1">
                <ol class="breadcrumb justify-content-lg-end mb-0">
                    <li class="breadcrumb-item"><a href="#">Select vessel</a></li>
                    <li class="breadcrumb-item"><a href="#">All vessels</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Monthly PDF Reports</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="section-1">
        <div class="bar-1">
            <button class="buttonc-3 selected buttonc-icon-pdf mbc-1" type="button" data-preload-image="~/images/button-icon-pdf-h.svg">
                <span data-preload-image="~/images/button-icon-pdf-s.svg">Montly PDF Reports</span>
            </button>
            <button class="buttonc-3 buttonc-icon-stats mbc-1" type="button" data-preload-image="~/images/button-icon-stats-h.svg">
                <span data-preload-image="~/images/button-icon-stats-s.svg">Chemical Measurements</span>
            </button>
            <!--
            <button class="buttonc-3 buttonc-icon-chemical mbc-1" type="button" data-preload-image="~/images/button-icon-chemical-h.svg">
                <span data-preload-image="~/images/button-icon-chemical-s.svg">Chemical Application</span>
            </button>
            -->
        </div>

        <hr class="hrc-1" />

        <div class="p-3">
            <span class="font-size-26 fw-bold textc-green mrc-2 align-middle">
                Select dates
            </span>

            <div class="d-lg-inline-block datepicker-container">
                <div class="d-lg-inline-block mbc-2" data-provide="datepicker">
                    <label for="date-from" class="label-2 me-2">From:</label>
                    <input type="text" id="date-from" name="date-from" class="input-2"/>
                </div>
                <div class="d-lg-inline-block mbc-2" data-provide="datepicker">
                    <label for="date-to" class="label-2 me-2">to:</label>
                    <input type="text" id="date-to" name="date-to" class="input-2" />
                </div>
            </div>
        </div>

        <table class="w-100 tablec-1" data-preload-image="~/images/icon-link-h.svg">
            <thead data-preload-image="~/images/icon-pdf-h.svg"></thead>
            @foreach (var pdf in ViewData["PdfList"] as IList<PdfModel>)
            {
            <tr onclick="window.open('/media/test.pdf');">
                <td class="font-size-13 tablec-1-link-icon">
                    <span class="align-middle lh-1">
                        <span class="fwc-semibold">ID:</span> <span class="mrc-1">@pdf.pdfcode</span>
                    </span>
                </td>
                <td class="font-size-26 fw-bold tablec-1-pdf-icon lh-1">@pdf.datefrom</td>
                <td class="text-md-end font-size-15 fw-bold lh-1">@pdf.vesselname</td>
            </tr>
            }
            
        </table>
    </div>
</div>