﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Marichem Marinegases</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css"> <!-- TODO: create a customized version -->
    <link href="~/css/main.css" rel="stylesheet" />
</head>
<body class="innerpage">
    <header id="page-header">
        <div class="container-2">
            <div class="row">
                <div class="page-header-logo col-8 col-lg-3">
                    <img src="~/images/logo.svg" class="img-fluid" />
                </div>
                <div class="page-header-title col-6 text-center d-none d-lg-block">
                    <p>Client Portal</p>
                </div>
                <div class="page-header-options col-4 col-lg-3 text-end">
                    <img src="media/user-image.png" class="mr-lg-4" />
                    <span class="text-white font-size-15 d-none d-lg-inline-block">
                        @ViewData["name"]
                    </span>
                </div>
            </div>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer id="page-footer">
        <div class="container-2">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/images/logo-letter.svg" class="mrc-1" />
                    <span class="font-size-10">
                        2022 MARICHEM MARIGASES<span class="d-none d-md-inline"> WORLDWIDE SERVICES</span>
                    </span>
                    <span class="font-size-10 d-md-none">
                        PORTAL  |  VERSION
                    </span>
                    <span class="font-size-10 textc-green d-md-none">
                        1.2
                    </span>
                </div>
                <div class="col-6 text-end d-none d-md-block">
                    <span class="font-size-10">
                        ΜΜ PORTAL  |  VERSION
                    </span>
                    <span class="font-size-10 textc-green">
                        1.2
                    </span>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script> <!-- TODO: create a customized version -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
