﻿<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet" />
    <title>@ViewData["Title"] - Marichem Marinegases</title>
  </head>
  <body class="loginpage">
    <div class="intro-bg-animation">
        <div class="intro-bg-animation-image"></div>    
    </div>
    <div class="container-2 position-relative z-index-1">
        <div class="section-intro">
            <div class="section-intro-counter"></div>
            <div class="section-intro-top mtc-2 opacityc-0 z-index-2 position-relative">
                <img src="images/logo-intro.svg" class="img-fluid" />
            </div>
            <div class="section-intro-main z-index-2 position-relative">
                <div class="section-intro-main-top opacityc-0">
                    <h1 class="font-size-70 fw-bold text-white text-center">
                        Welcome
                    </h1>
                    <h2 class="font-size-35 text-white text-center">
                        to the Marichem Marigases client portal
                    </h2>
                </div>
                <div class="box-login mx-auto opacityc-0" style="max-width: 415px;">
                    @RenderBody()
                </div>
            </div>
            <div class="section-intro-footer text-center opacityc-0 z-index-2 position-relative">
                <p class="text-white font-size-10">
                    2022 MARICHEM MARIGASES WORLDWIDE SERVICES
                </p>
            </div>
        </div>
    </div>
    <div class="d-sm-none bsc-mobile"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/main.js"></script>
  </body>
</html>
