﻿@{
    ViewData["Title"] = "Login Page";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@ViewBag.error
<form method="post" asp-controller="account" asp-action="login">
    <div class="mbc-2">
        <label for="input-username" class="label-1 d-block">USERNAME</label>
        <input type="text" name="username" class="input-1 w-100" id="input-username" />
    </div>
    <div class="mbc-2">
        <label for="input-password" class="label-1 d-block">PASSWORD</label>
        <input type="password" name="password" class="input-1 w-100" id="input-password" />
    </div>
    <div class="mbc-2">
        <button class="buttonc-1 w-100" type="submit">
            LOGIN
        </button>
    </div>
    <div class="text-center">
        <a href="#" class="uric-1 font-size-12">Forgot username or password?</a>
    </div>
</form>
