.buttonc-1 {
    @extend %buttons;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 17px 3rem 18px;
    background: getColor("black");
    height: 58px;
    letter-spacing: .3rem;
    border: none;
    border-radius: 29px;

    &:hover {
        color: #fff;
        background: getColor("green");
    }
}
.buttonc-2 {
    @extend .buttonc-1;
    background: getColor("green");
    
    &:hover {
        background: getColor("black");
    }
}

.buttonc-3 {
    color: getColor("black");
    font-size: 15px;
    padding-left: 10px;
    padding-right: 20px;
    border: 1px solid getColor("grey-4");
    background: #fff;
    border-radius: 6px;
    height: 51px;

    &.selected {
        color: #fff;
        font-weight: 500;
        background: getColor("black");
        border-color: #000;
    }
}

.button-4 {
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    padding: 1.4rem 2rem 1.3rem;
    background: getColor("grey");
    border: none;
    border-radius: 10px;

    &:hover,
    &.selected {
        background: getColor("green");
    }
}

.uric-1 {
    @extend %uris;
    color: getColor("grey");

    &:hover {
        color: getColor("green");
    }
}

.buttonc-icon-pdf,
.buttonc-icon-stats,
.buttonc-icon-chemical {
    display: inline-flex;
    align-items: center;

    &::before {
        margin-right: 20px;
        line-height: 1;
    }
}
.buttonc-icon-pdf {
    &::before {
        content: url(../images/button-icon-pdf.svg)
    }
    &:hover {
        &::before {
            content: url(../images/button-icon-pdf-h.svg)
        }
    }
    &.selected {
        &::before {
            content: url(../images/button-icon-pdf-s.svg)
        }
    }
}

.buttonc-icon-stats {
    &::before {
        content: url(../images/button-icon-stats.svg)
    }
    &:hover {
        &::before {
            content: url(../images/button-icon-stats-h.svg)
        }
    }
    &.selected {
        &::before {
            content: url(../images/button-icon-stats-s.svg)
        }
    }
}

.buttonc-icon-chemical {
    &::before {
        content: url(../images/button-icon-chemical.svg)
    }
    &:hover {
        &::before {
            content: url(../images/button-icon-chemical-h.svg)
        }
    }
    &.selected {
        &::before {
            content: url(../images/button-icon-chemical-s.svg)
        }
    }
}