.intro-bg-animation {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;

    .intro-bg-animation-image {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../images/login-bg.jpg);
        background-position: 50% 100%;
    }
}

.box-login {
    padding: 2.5rem;
    background: #fff;
    border-radius: 8px;
}

.ship-list {
    .ship-list-box {
        color: getColor("black");
        display: flex;
        flex-direction: column;
        background: #fff;
        border: 1px solid getColor("grey-5");
        border-radius: 8px;
        padding: 2rem;
        min-height: 24rem;
        box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.16);
        text-decoration: none;

        &::before {
            content: url(../images/sea-icon.svg);
        }

        &:hover {
            color: #fff;
            background: getColor("black");

            .ship-list-box-imo {
                color: getColor("grey-3");
            }

            .ship-list-box-link > span {
                transform: translateX(-50%);
                left: 50%;
            }
        }

        .ship-list-box-imo {
            color: getColor("grey");
        }

        .ship-list-box-link {
            font-size: 13px;
            color: getColor("green");
            font-weight: 500;
            position: relative;
            margin-bottom: 0;
            min-height: 20px;

            > span {
                display: inline-block;
                position: absolute;
                transform: translateX(0%);
                left: 0%;
                transition: all .3s;
            }
        }
    }
}

.opacityc-0 {
    opacity: 0;
}

.breadcrumbsc-1 {
    .breadcrumb-item {
        font-size: 15px;
        font-weight: 500;
        color: getColor("green");

        a {
            color: getColor("black");
            text-decoration: none;
        }
        
        + .breadcrumb-item::before {
            content: ">";
        }
    }
}

.tablec-1 {
    tr {
        cursor: pointer;
        
        &:nth-child(odd) {
            background: #F8F8F8;
        }

        &:hover {
            color: #fff;
            background: getColor("green");

            .tablec-1-link-icon  {
                &::after {
                    content: url(../images/icon-link-h.svg);
                }
            }
            .tablec-1-pdf-icon  {
                &::before {
                    content: url(../images/icon-pdf-h.svg);
                }
            }
        }

        @include media-breakpoint-down(md) {
            display: flex;
            flex-direction: column;
        }
    }
    td {
        padding: 1rem 2rem;

        &:first-child {
            padding-top: 2rem;
        }

        &:last-child {
            padding-bottom: 2rem;
        }

        @include media-breakpoint-up(md) {
            padding: 2rem;
        }
    }

    .tablec-1-link-icon  {
        &::after {
            content: url(../images/icon-link.svg);
            display: inline-block;
            vertical-align: middle;
        }
    }
    .tablec-1-pdf-icon  {
        &::before {
            content: url(../images/icon-pdf.svg);
            display: inline-block;
            margin-right: 15px;
            vertical-align: middle;
        }
    }
}

.hrc-1 {
    background-color: getColor("grey-4");
    opacity: 1;
}

.bar-1 {
    padding: 15px;
    padding-bottom: 0;

    @include media-breakpoint-down(md) {
        display: flex;
        flex-direction: column;
    }

    button {
        @include media-breakpoint-up(md) {
            margin-right: 2rem;
        }
    }
}

.datepicker-container {
    @include media-breakpoint-down(lg) {
        label, input {
            width: 100%;
        }
    }
    > div {
        @include media-breakpoint-up(lg) {
            margin-right: 2rem;
        }
    }
}