.label-1 {
	font-size: 14px;
	margin-bottom: 5px;
}
.label-2 {
	font-size: 13px;
}

.input-1 {
    font-size: 15px;
    background: getColor("grey-2");
    outline: none;
    transition: border-color .5s;
    border: 1px solid getColor("grey-5");
    padding: 8px 20px;
    
	&:focus {
        border-color: getColor("green");
    }
}

.input-2 {
    font-size: 13px;
    outline: none;
    transition: border-color .5s;
    border: 1px solid getColor("grey-4");
    padding: 8px 20px;
    border-radius: 8px;
    
	&:focus {
        border-color: getColor("green");
    }
}

.select-2-container {
    width: 100%;

    .select2-container {
        display: block;
    }

    .select2-selection--single {
        padding: 10px;
        height: auto;
        border: 1px solid getColor("grey-5");

        .select2-selection__rendered {
            font-size: 13px;
        }
        
        .select2-selection__arrow {
            top: 11px;
            right: 5px;
        }
    }

    @include media-breakpoint-up(sm) {
        width: 280px;
    }
}

.select2-results__option--selectable {
    font-size: 13px;
}