// tags
html {
    font-size: 7px;

    @include media-breakpoint-up(md) {
        font-size: 8px;
    }
    @include media-breakpoint-up(xl) {
        font-size: 10px;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    color: getColor("black");

    &.innerpage {
        background-color: getColor("grey-2");
        background-repeat: no-repeat;
        background-position: right 80%;
        background-attachment: fixed;
        padding-bottom: 55px;

        @include media-breakpoint-up(lg) {
            background-image: url(../images/ship-bg.svg);
        }
    }
}