// https://richardchiriboga.com/blog/2018/05/cool-sass-margin-padding-mixin/
$sides: ("b": "bottom","t": "top","l": "left","r": "right");

@each $prefix, $value in $sides {
  $property: if($prefix == '', '', -#{$value});
  @for $i from 0 through 20 {
    .m#{$prefix}c-{
      &#{$i} {
        margin#{$property}:#{$i}rem;
      }
    }
    .p#{$prefix}c-{
      &#{$i} {
        padding#{$property}:#{$i}rem;
      }
    }
  }
}

// large
@each $prefix, $value in $sides {
    $property: if($prefix == '', '', -#{$value});
    @for $i from 8 through 35 {
      .m#{$prefix}c-lg-{
        &#{$i} {
          margin#{$property}: 5rem;

          @include media-breakpoint-up(lg) {
            margin#{$property}:#{$i}rem;
          }
        }
      }
      .p#{$prefix}c-lg-{
        &#{$i} {
          padding#{$property}: 5rem;

          @include media-breakpoint-up(lg) {
            padding#{$property}:#{$i}rem;
          }
        }
      }
    }
}

@for $i from 10 through 20 {
    .font-size-#{$i} {
        font-size: #{$i}px;
    }
}

@for $i from 21 through 54 {
    .font-size-#{$i} {
        font-size: #{($i / 10)}rem;
    }
}

@for $i from 55 through 80 {
    .font-size-#{$i} {
        font-size: #{($i / 11)}rem;

        @include media-breakpoint-up(lg) {
          font-size: #{($i / 10)}rem;
        }
    }
}

// colors / backgrounds
@each $color, $value in $projectcolors {
  .textc-#{$color} {
      color: #{$value};
  }
  .bgc-#{$color} {
    background: #{$value};
  }
}

@function getColor($color) {
  @return map-get($projectcolors, $color);
}