%container-paddings {
    padding-left: $gutter-xs;
    padding-right: $gutter-xs;

    @include media-breakpoint-up(sm) {
        padding-left: $gutter-sm;
        padding-right: $gutter-sm;
    }

    @include media-breakpoint-up(xl) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media (min-width: 1500px) {
        padding-left: 80px;
        padding-right: 80px;
    }
}

%buttons {
    display: inline-block;
    white-space: nowrap;
    transition: all .3s;
    text-decoration: none;
}

%uris {
    transition: all .3s;
    text-decoration: none;
}

%rounded-circle-animation {
    .rounded-circle-container {
        display: inline-block;
        border-radius: 50%;
        transition: all 0.4s ease-in-out;

        > img {
            position: relative;
            z-index: -1;
        }
    }

    &:hover {
        .rounded-circle-container {
            box-shadow: inset 0 0 0 10px rgba(255,255,255,0.6), 0 1px 2px rgba(0,0,0,0.1);
        }
    }
}

%image-zoom-effect {
    text-decoration: none;
 
    &:hover {
        .image-zoom-effect-container img {
            transform: scale(1.05);
        }
    }
    .image-zoom-effect-container {
        text-align: center;
        overflow: hidden;
        
        img {
            transition: filter .5s, transform .3s;
        }
    }
}