.section-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;

    .section-intro-counter {
        position: fixed;
        right: 5px;
        top: 0;

        @include media-breakpoint-up(lg) {
            right: 30px;
        }

        &::before {
            content: url(../images/intro-numbers.png);
        }
    }
}

#page-header {
    position: sticky;
    top: 0;
    margin-bottom: 3rem;
    background: getColor("black");
    z-index: 1000;
    
    .row {
        align-items: center;
        height: 75px;
    }

    .page-header-title {
        font-size: 21px;
        color: getColor("green");
    }
}

#page-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: getColor("grey-2");
    box-shadow: 0px -2px 15px 2px rgba(0, 0, 0, 0.11);

    .row {
        align-items: center;
        min-height: 45px;
    }
}

.section-1 {
    background: #fff;
    border-radius: 14px;
}

.section-2 {
    .section-2-title,
    .section-2-title-2 {
        @include media-breakpoint-up(sm) {
            padding-left: 5rem;
        }
    }
}