﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container-2">
    <div class="row mbc-5">
        <div class="col-md-6 col-xxl-4">
            <h1 class="textc-green font-size-55 fw-bold wsc-nowrap">
                <span class="mrc-2">Select vessel</span>
                <img src="images/ship-icon.svg" />
            </h1>
        </div>
        <div class="col-md-6 col-xxl-4 text-md-end text-xxl-center">
            <a href="~/reports/pdf/" class="buttonc-2">
                SELECT ALL VESSELS
            </a>
        </div>
    </div>

    <div class="row ship-list gx-5">
        @foreach (var ship in ViewData["ShipList"] as IList<ShipList>)
        {
            <div class="col-md-6 col-lg-3 mbc-3">
                <a class="ship-list-box" href="~/reports/pdf/@ship.id">
                    <p class="font-size-35 fw-bold mb-0">
                        @ship.name
                    </p>
                    <p class="font-size-13 fwc-medium flex-grow-1 ship-list-box-imo">
                        IMO: @ship.imo
                    </p>

                    <p class="ship-list-box-link">
                        <span>VIEW VESSEL ></span>
                    </p>
                </a>
            </div>
        }
    </div>
</div>
